@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Patrick+Hand&family=Permanent+Marker&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    background: none;
    text-decoration: none;
}

label,
input,
button {
    cursor: pointer;
}

p {
    font-family: "Inter", sans-serif;
}

h5 {
    color: rgb(123, 123, 123);
    font-family: "Inter", sans-serif;
}

h3 {
    color: rgb(47, 46, 46);
    font-family: "Inter", sans-serif;
}

h4 {
    font-family: "Inter", sans-serif;
}

H1 {
    font-family: "Inter", sans-serif;
    color: rgb(155, 155, 155);
}

a {
    font-family: "Inter", sans-serif;
}

.hamburger {
    display: none;
}


/* header */

header {
    display: flex;
    align-items: center;
    background-color: rgb(59, 59, 59);
    padding: 22px;
    max-width: 100%;
    border-bottom: 2px solid rgb(176, 176, 176);
}

header>a img {
    width: 90px;
    margin-left: 95px;
}

.header a {
    color: rgb(12, 118, 255);
    font-family: "Inter", sans-serif;
}

.header {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 70px;
}

.header a svg{
    fill: white;
    height: 20px;
    width: 20px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

header nav a img {
    width: 27px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    height: 50px;
    background-color: rgb(59, 59, 59);
    border-bottom: 1px solid rgb(255, 215, 73);
    gap: 0;
    align-items: center;
}

.search_here {
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding-right: 100px;
    margin-left: 10px;
}

.search input {
    background-color: white;
    height: 40px;
    width: 300px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid rgb(255, 255, 255);
}

.search button {
    background-color: rgb(255, 207, 49);
    border: 1px solid rgb(255, 255, 255);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 5px;
    height: 40px;
}

.search button svg {
    fill: black;
    width: 20px;
    height: 10px;
}

.HOME {
    display: flex;
    gap: 20px;
    margin-left: 100px;
}

.HOME a {
    color: white;
    border-bottom: 4px solid transparent;
}

.A {
    position: relative;
}

.A::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 4px;
    background: rgb(255, 145, 0);
    transform: scaleX(0);
    transition: 0.3s;
}

.A:hover::after {
    transform: scaleX(1);
}

.B {
    position: relative;
}

.B::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 4px;
    background: rgb(255, 145, 0);
    transform: scaleX(0);
    transition: 0.3s;
}

.B:hover::after {
    transform: scaleX(1);
}

.C {
    position: relative;
}

.C::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 4px;
    background: rgb(255, 145, 0);
    transform: scaleX(0);
    transition: 0.3s;
}

.C:hover::after {
    transform: scaleX(1);
}

/* section */

section {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(204, 204, 204);
    display: flex;
    justify-content: center;
}

.inalldiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section H1 {
    padding-top: 30px;
}

.all {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div1 {
    display: flex;
    gap: 30px;
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    margin-top: 25px;
    align-items: center;
}

.indiv1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div1 img {
    height: 300px;
}

.div1 button {
    display: flex;
    align-items: center;
    background-color: rgb(255, 213, 0);
    padding: 20px;
    border-radius: 10px;
    height: 30px;
}

.div1 button:hover {
    background-color: rgb(255, 196, 0);
    transition: 0, 3s;
}

.div2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.div2 button {
    display: flex;
    align-items: center;
    background-color: rgb(255, 213, 0);
    padding: 20px;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

.div2 button:hover {
    background-color: rgb(255, 196, 0);
    transition: 0, 3s;
}

.div2button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.div2p {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* footer */

.footer1 {
    width: 100%;
    height: 150px;
    background-color: rgb(163, 163, 163);
    padding-top: 10px;
}

.footer1 h5 {
    font-size: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.svg-s {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}

.svg-s a svg {
    display: flex;
    gap: 20px;
    height: 70px;
    fill: rgb(255, 255, 255);
    opacity: 0.5;
}

.svg-s a svg:hover {
    opacity: 1;
}

.footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 200px;
    width: 100%;
    background-color: rgb(112, 112, 112);
}

.footer2 img {
    height: 70px;
    opacity: 0.5;
}

.footer2 img:hover {
    height: 70px;
    opacity: 1;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(59, 59, 59);
    height: 250px;
    width: 100%;
    padding-top: 30px;
}

.allfooterdivs {
    display: flex;
    padding-top: 20px;
}

footer h4 a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    font-weight: 250;
    color: rgb(255, 166, 0);
}

.footer2div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.footer2div-as {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer2div-as a {
    color: rgb(146, 146, 146);
}

@media screen and (max-width:768px) {
        /* burger_button */

    .hamburger {
        height: 50px;
        width: 50px;
        transform: 0.2s;
        position: relative;
        display: block;
        margin-left: 100px;
    }

    .hamburger .checkbox {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }

    .line {
        transition: 0.5s;
        stroke-width: 6px;
        stroke: rgb(255, 255, 255);
    }

    .lineTop {
        stroke-dasharray: 40 40;
        stroke-dashoffset: 25;
    }

    .lineBottom {
        stroke-dasharray: 40 40;
        stroke-dashoffset: 60;
    }

    .lineMid {
        stroke-dasharray: 40 40;
    }

    .hamburger .checkbox:checked+svg .line {
        stroke: crimson;
    }

    .hamburger .checkbox:checked+svg .lineTop {
        stroke-dashoffset: 0;
        transform-origin: left;
        transform: rotateZ(45deg) translate(-7px, -5px);
    }

    .hamburger .checkbox:checked+svg .lineMid {
        stroke-dashoffset: 40;
    }

    .hamburger .checkbox:checked+svg .lineBottom {
        stroke-dashoffset: 0;
        transform-origin: left;
        transform: rotateZ(-45deg) translate(-5px, 5px);
    }

    .HOME {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: rgb(93, 93, 93);
        position: absolute;
        top: 100px;
        left: 50px;
        padding: 10px;
        border-radius: 5px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    


    header a img {
        margin-left: 0px;
    }

    .all {
        width: 768px;
        display: flex;
        justify-content: center;
    }

    .div1, .div2{
        width: 700px;
        height: 400px;
        margin-left: 20px;
    }

    .div2 {
        height: 300px;
    }

    .inalldiv {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .indiv1 {
        font-size: 10px;
    }

    .div2p {
        font-size: 10px;
    }

    section {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .footer1 {
        background-color: rgb(91, 91, 91);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer1 a svg {
        width: 50px;
    }

    .footer2 {
        display: none;
    }

    .Vacancies {
        display: none;
    }

    body {
        overflow-x: hidden;
    } 
}

@media screen and (max-width:500px) {

    .HOME {
        position: absolute;
        left: 50px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .search_here input {
        width: 150px;
    }

    .search {
        display: flex;
        gap: 100px;
    }

    .footer2div {
        display: flex;
        margin-left: 25px;
    }

    .footer2div h4 a {
        font-size: 20px;
    }

    .footer2div-as {
        font-size: 10px;
    }

    .allfooterdivs {
        margin-top: -20px;
        max-width: 475px;
        display: flex;
        gap: 20px;
    }

    .inalldiv {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .all {
        width: 500px;
        display: flex;
        justify-content: center;
    }

    .div1 {
        display: flex;
        flex-direction: row;
        width: 450px;
        height: 350px;
        padding: 20px;
    }

    .div2 {
        width: 450px;
        height: 350px;
    }

    .div1 img {
        display: none;
    }
}