* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.hamburger {
    display: none;
}

/* header */

header {
    display: flex;
    align-items: center;
    background-color: rgb(59, 59, 59);
    padding: 22px;
    width: 100%;
    border-bottom: 1px solid black;
}

header>a img {
    width: 90px;
    margin-left: 95px;
}

.header a svg {
    fill: white;
    height: 30px;
}

.header {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 70px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

header nav a img {
    width: 27px;
}

/* search */

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: rgb(59, 59, 59);
    border-bottom: 1px solid rgb(255, 215, 73);
    gap: 0;
    align-items: center;
}

.search_here {
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding-right: 100px;
    margin-left: 10px;
}

.search input {
    background-color: white;
    height: 40px;
    width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.search button {
    background-color: rgb(255, 207, 49);
    border: 1px solid rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 5px;
    height: 40px;
}

.search button svg {
    border: none;
    width: 20px;
    height: 10px;
}

.HOME {
    display: flex;
    gap: 20px;
    margin-left: 100px;
}

.HOME a {
    color: white;
    border-bottom: 4px solid transparent;
}

.A {
    position: relative;
}

.A::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 4px;
    background: rgb(255, 145, 0);
    transform: scaleX(0);
    transition: 0.3s;
}

.A:hover::after {
    transform: scaleX(1);
}

.B {
    position: relative;
}

.B::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 4px;
    background: rgb(255, 145, 0);
    transform: scaleX(0);
    transition: 0.3s;
}

.B:hover::after {
    transform: scaleX(1);
}

.C {
    position: relative;
}

.C::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 4px;
    background: rgb(255, 145, 0);
    transform: scaleX(0);
    transition: 0.3s;
}

.C:hover::after {
    transform: scaleX(1);
}


/* login */

body {
    height: 100vh;
    background: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
}

.text label {
    display: flex;
}

.login-box {
    margin-top: 100px;
    background: white;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 50px;
    padding-bottom: 50px;
}

.login-box h2 {
    display: flex;
    justify-content: center;

}

.login-box input {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    outline: none;
}

.login-box button {
    padding: 10px;
    border: none;
    background: #ffaa00;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.login-box button:hover {
    background: #ff9d00;
}

@media screen and (max-width:768px) {

        /* burger_button */

    .hamburger {
        height: 50px;
        width: 50px;
        transform: 0.2s;
        position: relative;
        display: block;
        margin-left: 100px;
    }

    .hamburger .checkbox {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }

    .line {
        transition: 0.5s;
        stroke-width: 6px;
        stroke: rgb(255, 255, 255);
    }

    .lineTop {
        stroke-dasharray: 40 40;
        stroke-dashoffset: 25;
    }

    .lineBottom {
        stroke-dasharray: 40 40;
        stroke-dashoffset: 60;
    }

    .lineMid {
        stroke-dasharray: 40 40;
    }

    .hamburger .checkbox:checked+svg .line {
        stroke: crimson;
    }

    .hamburger .checkbox:checked+svg .lineTop {
        stroke-dashoffset: 0;
        transform-origin: left;
        transform: rotateZ(45deg) translate(-7px, -5px);
    }

    .hamburger .checkbox:checked+svg .lineMid {
        stroke-dashoffset: 40;
    }

    .hamburger .checkbox:checked+svg .lineBottom {
        stroke-dashoffset: 0;
        transform-origin: left;
        transform: rotateZ(-45deg) translate(-5px, 5px);
    }

    .HOME {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: rgb(93, 93, 93);
        position: absolute;
        top: 100px;
        left: 50px;
        padding: 10px;
        border-radius: 5px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    
}

@media screen and (max-width:500px) {

    .HOME {
        position: absolute;
        left: 60px;
    }
}