@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Patrick+Hand&family=Permanent+Marker&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    background: none;
    text-decoration: none;
}

img {
    display: block;
    height: auto;
}

p {
    font-family: "Inter", sans-serif;
}

h3 {
    color: rgb(123, 123, 123);
    font-family: "Inter", sans-serif;
}

h5 {
    font-family: "Inter", sans-serif;
    color: white;
    background-color: rgb(255, 162, 0);
    padding: 10px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

h4 {
    font-family: "Inter", sans-serif;
}

a {
    font-family: "Inter", sans-serif;
}

.hamburger {
    display: none;
}

/* header */

header {
    display: flex;
    align-items: center;
    background-color: rgb(59, 59, 59);
    padding: 22px;
    width: 100%;
    border: 1px solid black;
}

header>a img {
    width: 90px;
    margin-left: 95px;
}

.header a svg {
    fill: white;
    height: 20px;
    width: 20px;
}

.header {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 70px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

header nav a img {
    width: 27px;
}

/* Background1 */

.auth-background {
    position: relative;
    width: 100%;
    height: 190px;
    background-image: url("dcs-c130j-rcaf-afganistan-mountains.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 3px solid rgb(102, 102, 102);
}

.background_1 {
    position: absolute;
    inset: 0;
}

.auth-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.auth-box a {
    font-family: "Inter", sans-serif;
    color: white;
    position: relative;
    width: 180px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(252, 170, 37);
    border-radius: 8px;
    top: 100px;
    font-size: 30px;
}

/* search */

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: rgb(59, 59, 59);
    border-bottom: 1px solid rgb(255, 215, 73);
    gap: 0;
    align-items: center;
}

.search_here {
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding-right: 100px;
    margin-left: 10px;
}

.search input {
    background-color: white;
    height: 40px;
    width: 300px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid rgb(255, 255, 255);
}

.search button {
    background-color: rgb(255, 207, 49);
    border: 1px solid rgb(255, 255, 255);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: rgb(0, 0, 0);
    padding: 5px;
    height: 40px;
}

.search button svg {
    border: none;
    width: 20px;
    height: 10px;
}

.HOME {
    display: flex;
    gap: 20px;
    margin-left: 100px;
}

.HOME a {
    color: white;
    border-bottom: 4px solid transparent;
}

.A {
    position: relative;
}

.A::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 4px;
    background: rgb(255, 145, 0);
    transform: scaleX(0);
    transition: 0.3s;
}

.A:hover::after {
    transform: scaleX(1);
}

.B {
    position: relative;
}

.B::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 4px;
    background: rgb(255, 145, 0);
    transform: scaleX(0);
    transition: 0.3s;
}

.B:hover::after {
    transform: scaleX(1);
}

.C {
    position: relative;
}

.C::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 4px;
    background: rgb(255, 145, 0);
    transform: scaleX(0);
    transition: 0.3s;
}

.C:hover::after {
    transform: scaleX(1);
}

/* section */

section {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(204, 204, 204);
    position: relative;
}

.alldiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* div1 */

.div1 {
    position: relative;
    top: 20px;
    width: 1200px;
    height: 170px;
    background-image: url("11226132206_imgupscaler.ai_beta_4k.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 3px solid rgb(255, 150, 13);
    border-bottom: 3px solid rgb(255, 150, 13);
    border-radius: 5px;
    font-family: "Inter", sans-serif;
}

.div1-text {
    position: relative;
    left: 20px;
    top: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    font-size: 13px;
    color: #EDC10E;
}

.div1-text h2 {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.div1-text p {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.div1 a {
    color: white;
    position: relative;
    width: 170px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(252, 170, 37);
    border-radius: 8px;
    top: -90px;
    left: 970px;
    margin-left: auto;
    font-size: 30px;
}

/* div2 */

.div2 {
    background-color: white;
    width: 1200px;
    position: relative;
    top: 20px;
    padding: 20px;
    border-radius: 5px;
}

.div2 p a {
    color: rgb(0, 60, 255);
}

.div1,
.div2,
.div-3 {
    margin: 0 auto;
}

/* 3div in one */

.div-3 {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    gap: 20px;
    top: 20px;
}

.div3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    width: 385px;
}

.div4 {
    background-color: white;
    border-radius: 5px;
    width: 385px;
}

.div4 img {
    width: 385px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.div4text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div5text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div5 {
    background-color: white;
    border-radius: 5px;
    width: 385px;
}

.div5 img {
    width: 385px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* footer */

.footer1 {
    width: 100%;
    height: 150px;
    background-color: rgb(163, 163, 163);
    margin-top: 40px;
}

.footer1 h3 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.svg-s {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}

.svg-s a svg {
    display: flex;
    gap: 20px;
    height: 70px;
    fill: rgb(255, 255, 255);
    opacity: 0.5;
}

.svg-s a svg:hover {
    opacity: 1;
}

.footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 200px;
    width: 100%;
    background-color: rgb(112, 112, 112);
}

.footer2 img {
    height: 70px;
    opacity: 0.5;
}

.footer2 img:hover {
    height: 70px;
    opacity: 1;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(59, 59, 59);
    height: 250px;
    width: 100%;
    padding-top: 30px;
}

.allfooterdivs {
    display: flex;
    padding-top: 20px;
}

footer h4 a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    font-weight: 250;
    color: rgb(255, 166, 0);
}

.footer2div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.footer2div-as {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer2div-as a {
    color: rgb(146, 146, 146);
}

.original {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: rgb(43, 43, 43);
}

.original p {
    color: white;
}

.original p a {
    color: rgb(0, 128, 255);
}

@media screen and (max-width:768px) {

    /* burger_button */

    .hamburger {
        height: 50px;
        width: 50px;
        transform: 0.2s;
        position: relative;
        display: block;
        margin-left: 100px;
    }

    .hamburger .checkbox {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }

    .line {
        transition: 0.5s;
        stroke-width: 6px;
        stroke: rgb(255, 255, 255);
    }

    .lineTop {
        stroke-dasharray: 40 40;
        stroke-dashoffset: 25;
    }

    .lineBottom {
        stroke-dasharray: 40 40;
        stroke-dashoffset: 60;
    }

    .lineMid {
        stroke-dasharray: 40 40;
    }

    .hamburger .checkbox:checked+svg .line {
        stroke: crimson;
    }

    .hamburger .checkbox:checked+svg .lineTop {
        stroke-dashoffset: 0;
        transform-origin: left;
        transform: rotateZ(45deg) translate(-7px, -5px);
    }

    .hamburger .checkbox:checked+svg .lineMid {
        stroke-dashoffset: 40;
    }

    .hamburger .checkbox:checked+svg .lineBottom {
        stroke-dashoffset: 0;
        transform-origin: left;
        transform: rotateZ(-45deg) translate(-5px, 5px);
    }

    .HOME {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: rgb(93, 93, 93);
        position: absolute;
        top: 200px;
        left: 50px;
        padding: 10px;
        border-radius: 5px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .div1 {
        width: 700px;
    }

    .div1 a {
        display: none;
    }

    .div2 {
        width: 700px;
    }

    .div3 {
        display: none;
    }

    .div4 {
        width: 330px;
    }

    .div4 img {
        width: 330px;
    }

    .div5 {
        width: 330px;
    }

    .div5 img {
        width: 330px;
    }

    .div-3 {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    section {
        display: flex;
        justify-content: center;
    }

    .footer1 {
        background-color: rgb(91, 91, 91);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer2 {
        display: none;
    }

    .Vacancies {
        display: none;
    }

    body {
        overflow-x: hidden;
    }
}

@media screen and (max-width:500px) {

    .HOME {
        position: absolute;
        left: -15px;
    }

    header a img {
        margin-left: 10px;
    }

    .HOME {
        margin-left: 20px;
    }

    .search {
        display: flex;
        gap: 120px;
    }

    .search_here input {
        width: 150px;
    }

    .div1 {
        width: 430px;
    }

    .div2 {
        width: 430px;
    }

    .div4 {
        width: 200px;
    }

    .div4 img {
        width: 200px;
    }

    .div5 {
        width: 200px;
    }

    .div5 img {
        width: 200px;
    }

    .svg-s a svg {
        width: 50px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .footer2div {
        display: flex;
        margin-left: 25px;
    }

    .footer2div h4 a {
        font-size: 20px;
    }

    .footer2div-as {
        font-size: 10px;
    }

    .allfooterdivs {
        margin-top: -20px;
        max-width: 475px;
        display: flex;
        gap: 20px;
    }
}